.Car {
  width: 75vw;
  margin: 10px auto;
  padding-bottom: 10px;
  border-radius: 5px;
  transition: all 0.5s;
  border: 2px solid #ccc;
  box-shadow: 4px 5px rgba(0, 0, 0, 0.14);
}

.Car:hover {
  border: 2px solid #aaa;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.input:active {
  outline: none;
}

/* .input {
} */

.input.green {
  border: 3px solid green;
}

.input.red {
  border: 3px solid red;
}

.input.bold {
  border: 6px solid navy;
  font-weight: bold;
}
