.AppButton {
  margin-top: 20px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s;
  &:focus,
  &:active {
    outline: none;
  }
  &:hover {
    background: #0ed829;
  }
}
